@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  @apply font-ubuntu font-normal text-[16px] text-primary;
}

@layer utilities {
  .menu-item:hover {
    @apply bg-primary text-white rounded-sm transition-all ease-in-out duration-300;
  }
  .menu-item {
    @apply px-6 py-3;
  }
  .hero-numb {
    -webkit-text-stroke: 1px #42454a;
    @apply text-[105.21px] text-transparent font-calistoga;
  }
  .owl-item {
    @apply ml-[16px] md:ml-0;
  }
  .owl-nav {
    @apply hidden md:flex text-center justify-center gap-6 mt-10;
  }
  .owl-nav .fa-solid.fa-arrow-left-long,
  .owl-nav .fa-solid.fa-arrow-right-long {
    @apply text-primary p-3 rounded-full border border-primary hover:bg-primary hover:text-white transition-all ease-in-out duration-300;
  }
  .star {
    width: 96px !important;
  }
  .user {
    width: 48px !important;
  }

  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 50px;
    font-weight: 700;
  }
  h3 {
    font-size: 23px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
  }
}
